.h5_component_polyline{}
.h5_component_polyline canvas{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
}
.h5_component_polyline .text{
    position: absolute;
    float: left;
    text-align: center;
    font-size: 12px;
    bottom: -20px;
    height: 20px;
    transform: scale(.8);
    line-height: 20px;
    -webkit-opacity:0;
}
.h5_component_namepolyline_load .text{

    -webkit-opacity:1;
    -webkit-transition: all 1s 1s;
}
.h5_component_namePolyline_leave .text{
    -webkit-opacity:0;
}